



.home-section {
  background-image: url("/assets/bg1.PNG");
  background-size: cover; // Ensures the image covers the entire section
  background-position: center; // Centers the image
  background-repeat: no-repeat; // Prevents tiling
  height: 400px;
  color: white;
  padding: 100px 0;
  text-align: center;
 

  .home-content {
    max-width: 800px;
    margin: 0 auto;
    
    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
      color: white;
    }
    p {
      font-size: 1.5rem;
      color: white;
    }
  }
}

