/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
